<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CatchUp - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <!-- Load jQuery for AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <nav>
            <a class="logo" href="{% url 'home' %}">CatchUp</a>
            {% if user.is_authenticated %}
            <div class="search-container dropdown">
                <form id="searchForm" method="get" action="{% url 'search_results' %}">
                    <input type="text" name="search" id="searchInput" placeholder="Search users..." autocomplete="off">
                    <div id="searchResultsContainer" class="dropdown-content">
                        <!-- Search results will be inserted here -->
                    </div>
                </form>
            </div>
            
            
            <div class="nav-links">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="nav-links">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- This block will be overridden by each individual page -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 CatchUp</p>
    </footer>
    <script src="{% static 'users/scripts.js' %}"></script>
    <!-- Add the AJAX script for loading the search results -->
    <script>
        $(document).ready(function() {
            $("#searchInput").on("keyup", function(e) {
                e.preventDefault();
                var query = $(this).val();
                if (query) {
                    $.ajax({
                        url: "{% url 'search_results' %}",
                        type: "GET",
                        data: {search: query},
                        success: function(data) {
                            $("#searchResultsContainer").html(data);
                        }
                    });
                } else {
                    $("#searchResultsContainer").html("");
                }
            });
        });
    </script>
    
</body>
</html>







