{% extends "users/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/create_post.css' %}" />
{% endblock %}

{% block content %}
    <div class="profile-container">
        <!-- Create a post section -->
        <div class="post">
            <form class="post-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                
                <!-- Custom file upload -->
                <label for="id_image" class="custom-file-upload">
                    <img src="{% static 'users/icons/insert-picture-icon.png' %}" alt="Upload" />
                </label>
                {{ form.image|as_crispy_field }}

                <button type="submit" class="submit-btn">Post</button>
            </form>
        </div>

<!-- Friends' posts section -->
<div class="profile-posts">
    <h3>Friends' Posts</h3>
    {% for post in friends_posts %}
        <div class="post">
            <a href="{% url 'post_detail' post.id %}" style="display: block; color: inherit; text-decoration: none;">
                <div class="post-header">
                    <a href="{% url 'profile' post.user.username %}" style="color: inherit; text-decoration: none;">
                        <div class="profile-image-container">
                            <img src="{{ post.user.userprofile.profile_picture.url }}" alt="{{ post.user.userprofile.first_name }}" class="profile-pic">
                            <div class="view-profile">View Profile</div>
                        </div>
                    </a>
                    <div class="post-user-name">
                        <strong>{{ post.user.userprofile.first_name }} {{ post.user.userprofile.last_name }}</strong>
                        <small class="post-date">{{ post.created_at|date:"F j, Y" }}</small>
                        <h4>{{ post.title }}</h4>
                    </div>
                </div>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
            </a>
                    
            <!-- Like button -->
            <form method="POST" action="{% url 'like_post' post.id %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="like-btn">
                    {% if post in liked_posts %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            </form>

            <!-- Comment button -->
            <a href="{% url 'post_detail' post.id %}" class="comment-btn">Comment</a>

        </div>
    {% empty %}
        <p>None of your friends have posted anything yet.</p>
    {% endfor %}
</div>


    </div>
{% endblock %}















