{% extends "users/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}" />
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>Friend Requests</h2>
        {% if friend_requests %}
            {% for friend_request in friend_requests %}
                <div class="friend-request">
                    <p>
                        <a href="{% url 'profile' friend_request.sender.username %}">{{ friend_request.sender.username }}</a> 
                        wants to be your friend.
                    </p>
                    <a href="{% url 'accept_friend_request' friend_request.id %}">Accept</a>
                    <a href="{% url 'reject_friend_request' friend_request.id %}">Reject</a>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no pending friend requests.</p>
        {% endif %}
    </div>
{% endblock %}

