{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
    <!-- Link to your auth.css file -->
    <link rel="stylesheet" href="{% static 'users/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="center-container">
        <div class="container">
            <h2 class="center-text">CatchUp</h2>
            <div class="register-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-elements">
                        {{ form|crispy }}
                        <button type="submit" class="submit-btn">Log in</button>
                    </div>
                </form>
                <div class="login-link">
                    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






