{% extends "users/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}" />
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <img class="profile-pic" src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.username }}'s Profile Picture">
            <div class="profile-info">
                <div class="profile-details">
                    <div class="name-and-icon">
                        <div class="name-and-icon-inner"> 
                            <h2 class="profile-name">{{ user_profile.first_name }} {{ user_profile.last_name }}</h2>
                            {% if are_friends %}
                                <img class="friends-icon" src="{% static 'users/icons/friends_icon.png' %}" alt="Friends">
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-location-occupation"> <!-- This div is moved out of the 'name-and-icon' div -->
                        <p>{{ user_profile.occupation }}</p>
                        <p>|</p>
                        <p>{{ user_profile.location }}</p>
                    </div>
                </div>
                <p>{{ user_profile.bio }}</p>
                
                <!-- Friend request buttons -->
                {% if user_profile.user != request.user and not are_friends %}
                    {% if not friend_request_sent %}
                        <a href="{% url 'send_friend_request' user_profile.user.username %}" class="friend-request-btn">Send Friend Request</a>
                    {% elif friend_request_sent %}
                        <p>Friend request sent</p>
                        <a href="{% url 'cancel_friend_request' friend_request_sent.id %}" class="friend-request-btn">Cancel Friend Request</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
        <div class="profile-posts">
            <h3>{{ user_profile.first_name }}'s Posts</h3>
            <!-- Loop through the user's posts -->
            {% for post in posts %}
            <div class="post">
                <small class="post-date">{{ post.created_at|date:"F j, Y" }}</small>
                <h4>{{ post.title }}</h4>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <!-- Show likes count only to the profile owner -->
                {% if request.user == user_profile.user %}
                    <p>Likes: {{ post.like_count }}</p>
                {% endif %}
            </div>
            
            {% endfor %}
        </div>
    </div>
{% endblock %}






















