.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-header {
    position: relative;
    display: flex;
    align-items: center; 
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






.name-and-icon {
    display: flex;
    align-items: baseline; /* change here, align to baseline */
    gap: 10px;
}

.friends-icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 10px; /* add this line */
}






.profile-location-occupation {
    display: flex;
    gap: 10px;  
    align-items: center;
    font-size: 0.85rem;
    color: #777; 
    margin-top: 0.2em;
}

.profile-location-occupation p {
    margin: 0;
}

.profile-posts {
    margin-top: 20px;
}

.post {
    position: relative;
    background-color: #FFFDD0;
    border: 1px solid #DAA520; 
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.post:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-10px);
}

.post img {
    max-width: 100%;
    height: auto;
}

.post-date {
    color: #aaa;
    font-size: 0.8rem;
}
.name-and-icon-inner {
    display: flex;
    align-items: center;  /* Centers the children vertically */
}

















