body {
    background-color: #FFFAF0; /* Light Cream (Snow) */
    color: #008080; /* Teal */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    color: #FF69B4; /* Rosy Pink */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #FF7F50; /* Warm Orange */
    text-decoration: none;
}

a:hover {
    color: #DAA520; /* Golden Brown */
}

/* Header Styles */
.header {
    background-color: #008080; /* Teal */
    color: #FFFDD0; /* Cream */
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav a {
    color: #FFFDD0; /* Cream */
    font-size: 1.1em;
    margin: 0 1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FF7F50; /* Warm Orange */
}

/* Footer Styles */
.footer {
    background-color: #8B0000; /* Deep Red */
    color: #FFFDD0; /* Cream */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}















